.real-estate-detail-container {
    max-width: 600px;
    margin: 46px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    text-align: left;
}

.title {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.status {
    margin-bottom: 20px;
}

.image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.customer-info {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.reject-button, .approve-button {
    background-color: #35CB6D;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
}

.reject-button:hover, .approve-button:hover {
    background-color: #0056b3;
}
