    /* Style cho container */
.booking-container {
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 177px auto;
}

/* Style cho tiêu đề */
.booking-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}
.booking-container select{
    margin-bottom: 20px;
}

.buttontitle{
    background-color: #35CB6D;
}
/* Style cho phần chọn ngày */
.booking-select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

/* Style cho nút điều chỉnh */
.booking-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.booking-button:hover {
    background-color: #0056b3;
}

/* Style cho bảng */
.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* Style cho tiêu đề của bảng */
.booking-table th {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: left;
}

/* Style cho dòng trong bảng */
.booking-table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

/* Style cho hàng chẵn trong bảng */
.booking-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
