.container1 {
    max-width: 90%;
    margin: -384px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Open Sans', sans-serif;
    transform: translateX(237px);
    
}

.container1 h1 {
    font-size: 22px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.thongtindanhsach {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.thongtindanhsach th {
    padding: 12px 15px;
    background-color: #35CB6D;
    color: white;
    text-align: left;
    font-weight: 600;
}

.thongtindanhsach td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e8eff5;
    color: #666;
}

.thongtindanhsach tbody tr:hover {
    background-color: #f7fafc;
}

.thongtindanhsach tbody tr:nth-child(even) {
    background-color: #f0f4f7;
}

.thongtindanhsach tbody td:first-child {
    border-radius: 5px 0 0 5px;
}

.thongtindanhsach tbody td:last-child {
    border-radius: 0 5px 5px 0;
}
