.hinhanhmota {
    width: 40%;
    height: 30%;
}

.hinhanhmotathongtin {
    display: flex;

}

.thongtinchitiet {
    margin-left: 70px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    /* Màu nền đen với độ mờ */
    z-index: 9999;
    display: flex;
    justify-content: center;
    /* Căn nội dung theo chiều ngang vào giữa */
    align-items: center;
    /* Căn nội dung theo chiều dọc vào giữa */
}

.popup-content {
    display: flex;
    background-color: #fff;
    /* Màu nền của nội dung popup */
    padding: 20px;
    /* Khoảng cách giữa nội dung và viền của popup */
    border-radius: 8px;
    /* Bo tròn các góc của popup */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* Hiệu ứng bóng đổ */
    max-width: 80%;
    /* Độ rộng tối đa của popup */
    max-height: 80%;
    /* Độ cao tối đa của popup */
    overflow: auto;
    /* Cho phép cuộn nếu nội dung quá dài */
}

.popup-image {
    padding: 30px;
    max-width: 100%;
    /* Ảnh sẽ không vượt quá kích thước của popup */
    height: auto;
    /* Đảm bảo tỷ lệ khung hình không bị méo */
}



.image-container {
    position: relative;
}

.main-image {
    width: 100%;
}

.sub-images {
    display: flex;
    justify-content: space-between;
    /* Căn các hình ảnh trong phạm vi của div cha */

    /* Khoảng cách giữa hình ảnh đầu tiên và các hình ảnh phụ */
}

.sub-image {
    margin-top: 50%;
    width: calc(25% - 5px);
    /* Đặt kích thước nhỏ cho các hình ảnh còn lại và bố trí chúng theo hàng */
    height: auto;
}

.small-image {
    width: 50%;
    /* Đặt kích thước nhỏ cho hình ảnh đầu tiên */
    height: auto;
}

.popup-content {
    position: relative;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.prev-btn, .next-btn {
    margin-top: 30%;
    width: 40px;
    height: 40px;
    background-color: #635b5bb1;
}

.close-btn {
    background-color: #90c908;
}


.close-btn:hover {
    background-color: red;
}

.hinhanhmota {
    width: 40%;
    height: 30%;
}

.hinhanhmotathongtin {
    display: flex;

}

.basb {
    display: flex;
    text-align: left;
}

.thongtinchitiet {
    margin-left: 70px;
    margin-top: 60px;
    text-align: justify;
}



.motabatdongsan {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.motabatdongsan td {
    text-align: left;

}

.motabatdongsan1 {
    transform: translateY(20px);
}

.motabatdongsan1 td {
    text-align: left;

}

.info-table {
    width: 100%;
    border-collapse: collapse;
    margin-right: 20px;

}

.info-table td {
    padding: 3px;
    border: 1px solid #ddd;

}

.info-table b {
    font-weight: bold;

}

.info-table td:first-child {
    width: 20%;
    /* Adjust the width of the first column */
}

.info-table td:nth-child(2) {
    width: 70%;
    /* Adjust the width of the second column */
}