Explain
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	height: auto;
}

.menu-list {
	display: flex;
	margin: 0 auto;
	padding: 5px;
	list-style-type: none;
	align-items: center;
}

.menu-item-container:hover .menu-item,
.menu-item-container:hover i {
	align-items: center;
	color: #90c908;
}

.menu-item:hover {
	color: #90c908;
}

.menu-item {
	margin-top: 20px;
	margin-left: 70px;
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 18px;
	font-family: "Open Sans", sans-serif;
}

.logo-batdongsan {
	width: 100px;
	height: auto;
	margin-left: 20px;
	border-radius: 30px;
}

.header-container {
	display: flex;
	padding: 5px 10px;
	border-radius: 50px;
	width: 80%;
	margin: 10px 5% 10px 5%;
	background-color: #ffffff;
	position: fixed;
	top: 0;
	left: 5%;
	transform: translateX(-50%);
	z-index: 9999;
	opacity: 0;
	animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.logo_notification,
.logo-taikhoan {
	width: 30px;
	height: 30px;
}

.logo_notification {
	max-width: 30px;
	margin-right: 20px;
	width: 100px;
	height: auto;
	transform: translateX(-80px);
}

.notification_wrapper {
	position: relative;
	display: inline-block;
}

.notification_count {
	margin-bottom: 100px;
	position: absolute;
	top: 0;
	right: 0;
	background-color: red;
	color: white;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	transform: translateX(-80px);
}

.logo-taikhoan {
	max-width: 30px;
	margin-top: 14px;
	margin-bottom: 10px;
}

.container-login {
	display: flex;
	align-items: center;
	transform: translateX(-60px);
}

.login-link {
	text-decoration: none;
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
	background-color: #90c908;
	padding: 10px;
	border-radius: 50px;
}

.header {
	display: flex;
	align-items: center;
	margin-left: 10%;
}

.logo-header2 {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
	opacity: 0;
	animation: fadeIn 0.5s ease-in forwards;
}

.dropdown-menu1 {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 15px;
	padding: 10px;
	z-index: 1;
	transition: all 10s ease;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown:hover .dropdown-menu1 {
	display: block;
}

.dropdown-menu1 {
	position: absolute;
	top: 100%;
	left: 50px;
	display: none;
	z-index: 1000;
	width: 100%;
}

.dropdown-menu1 li {
	padding: 10px;
	list-style-type: none;
}

.dropdown-menu1 li a {
	text-decoration: none;
	color: #333;
	transition: color 0.3s;
}

.dropdown-menu1 li a:hover {
	color: #90c908;
}

.dropdown:hover .dropdown-menu1 {
	display: block;
}

.text-drop {
	text-decoration: none;
	color: black;
}

.text-drop:hover {
	color: #90c908;
}

.col-md-3.header {
	display: flex;
	align-items: center;
}

.logo-taikhoan {
	width: 50px;
	height: auto;
	margin-right: 10px;
}

.login-link {
	text-decoration: none;
}

.dropdown:hover .dropdown-menu {
	display: block;
}

.dropdown-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	border: 1px solid #ccc;
	top: 26px;
	border-radius: 15px;
	padding: 10px;
	z-index: 1;
	transition: all 10s ease;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #333;
}

.dropdown-item:hover {
	background-color: #f5f5f5;
}

@keyframes slideUp {
	from {
		top: 100%;
		opacity: 0;
	}

	to {
		top: 260px;
		opacity: 1;
	}
}

.text-overlay {
	position: absolute;
	top: 260px;
	left: 50%;
	transform: translate(-50%, -190%);
	color: rgb(255, 255, 255);
	font-size: 35px;
	font-weight: 700;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	animation: slideUp 1s ease forwards;
}