/* Container styles */
.container {
    padding: 20px;
}

/* Heading styles */
.col-md-9 h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.listrealfix{
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Table styles */
.table1 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* Table header styles */
.table1 th {
    background-color: #f9f9f9;
    color: #333;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}

/* Table cell styles */
.table1 td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

/* Table row hover effect */
.table1 tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

/* Paragraph styles within table cells */
.table1 td p {
    margin: 0;
    color: #333;
    font-size: 16px;
}

/* Responsive styles for smaller screens */
@media (max-width: 768px) {
    .col-md-9 {
        padding: 0;
    }

    .table1 th,
    .table1 td {
        padding: 8px;
        font-size: 14px;
    }
}
